<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.feenk.pdt2famix.client.ExportModelApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="pdt2famix-exporter-client.application"
            name="pdt2FamixProduct">
         <property
               name="appName"
               value="pdt2FamixProduct">
         </property>
      </product>
   </extension>
  
</plugin>
