<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.feenk.pdt2famix.ui.commands.export"
            class="com.feenk.pdt2famix.handlers.ExportModelHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               label="pdt2famix">
            <command
                  commandId="com.feenk.pdt2famix.ui.commands.export"
                  id="com.feenk.pdt2famix.ui.projectexplorer.export"
                  label="Export MSE&amp;ASTs"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
